.button {
    width: 120px;
    height: 40px;
    background-color: transparent;
    color: var(--secondary--color);
    cursor: pointer;
    transition: 0.2s ease;
    cursor: pointer;
    font-weight: 700;
}

.button:hover {
    border-radius: 10px;
}
