.custom_input {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 25px auto;
}

.input_group {
    width: 65%;
}
.input_group > :is(input, textarea, select) {
    width: 100%;
    max-width: 320px;
    font-size: 16px;
    padding: 8px 8px;
    padding-left: 35px;
    outline: none;
    background: var(--secondary--color);
    color: var(--primary--color);
    border: 1px solid #c4d1eb;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px #e2e2e2;
    transition: 0.3s ease;
}

textarea {
    resize: none;
    height: 130px;
}

:is(input, textarea, select):focus {
    background: #f2f2f2;
    border: 1px solid #5a7ec7;
    border-radius: 10px;
}

input textarea::placeholder {
    color: #dddddd;
}

.errors_message {
    color: var(--error-color);
    padding-bottom: 15px;
}
